################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PracticeApi/.vs/PracticeApi/v16
/PracticeApi/PracticeApi/bin/Debug/netcoreapp3.1
/PracticeApi/PracticeApi/obj
